/*** COLORS ***/
$black: #000000;
$white: #FFFFFF;
$white-shadow: #EBEBEB;
$light-gray: #F3F3F3;
$highlight: #FE692A;
$caution: #EEAA10;
$success: #22AA55;
$error: #f65327;

$font-color: #484848;
$font-color-light: #8b8b8b;
$theme-color: #B7322A;

$table-border: 1px solid #b1b1b1;
$seperator-border: 1px solid #EBEBEB;

$box-shadow-lighter: 0px 2px 4px rgba(0, 0, 0, 0.0980392);
$box-shadow-darker: 0px 2px 4px 0px rgba(0, 0, 0, 0.0980392), 0px 4px 12px 0px rgba(26, 26, 29, 0.0784314);
$box-shadow-darkest: 0 2px 5px 0 rgba(0, 0, 0, 0.5);

/*** MIXINS ***/
@mixin user-select($param) {
  -webkit-user-select: $param;
  -moz-user-select: $param;
  -ms-user-select: $param;
  -o-user-select: $param;
  user-select: $param;
}

/*** STYLING ***/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto','Microsoft YaHei UI Light', 'Hiragino Sans GB', 'Hei Ti', sans-serif; 
}

body {
	font-family: 'Roboto','Microsoft YaHei UI Light', 'Hiragino Sans GB', 'Hei Ti', sans-serif;
	font-size: 18px;
  background-color: $white;
  color: $font-color;
  letter-spacing: 1px;
  word-spacing: 1px;
  a:active, a.active {
    color: $theme-color;
  }
	i {
		user-select: none;
  }
  .separator {
    border-bottom: $seperator-border;
    &.thick {
      margin: 80px 0;
    }
    &.thin {
      margin: 40px 0; 
    }
  }
  .site-content {
    margin-top: 24px;
    margin-bottom: 80px;
    .trip-day {
      padding: 0 24px;
    }
  }
  header {
    box-shadow: 0 1px 0 0 $white-shadow;
  }
  table {
    tbody{
      border: $table-border;
    }
    tr + tr {
      border-top: $table-border;
    }
    td + td {
      border-left: $table-border;
    }
  }
}

.grid-container {
  // max-width: 1360px;
}

.site-header {
  margin: auto;
  padding: 0;
}

.top-bar {
	width: 100%;
	height: 65px;
	padding: 10px 20px;
	background-color: $white;
	font-size: 14px;
  font-weight: 600;
  &.detail-menu {
    height: 60px;
    box-shadow: $box-shadow-darkest;
    top: 10px;
    position: sticky;
    position: -webkit-sticky;
  }
  .menu {
    background-color: unset;
    color: inherit;
    li:after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
      width: unquote("calc(100% - 2rem)");
      background: $theme-color;
    }
		a {
      display: flex;
      align-items: center;
      color: inherit;
      img {
        width: 60px;
      }
      span {
        font-size: 36px;
      }
		}
    a.is-active {
      color: $theme-color;
    }
    &.search-bar {
      display: flex;
      width: 460px;
      height: 48px;
      align-items: center;
      border: 1px solid $white-shadow;
      border-radius: 4px;
      box-shadow: $box-shadow-lighter;
      transition: box-shadow 0.2s ease-in;
      input {
        flex: 1;
        max-width: unset;
        border: none;
        box-shadow: none;
        transition: none;
        font-size: 17px;
        font-weight: 800;
        line-height: 1.48;
        color: inherit;
      }
      input:focus {
        box-shadow: none;
      }
      i {
        font-weight: 600;
        padding: 0 4px 0 12px;
      }
    }
    &.search-bar:hover {
      box-shadow: $box-shadow-darker;
    }
  }
}

.swiper-container {
  max-width: 1080px;
  margin-bottom: 45px;
}

.swiper-slide {
  img {
    width: 100%;
  }
}

.card.list-filter {
  font-size: 0.9em;
}

.filter {
  &-section {
    padding: 2px 5px;
    margin: 3px 5px;
  }
  input {
    display: none;
    &:checked {
      + label {
        background-color: $theme-color;
        color: $white;
        box-shadow: $box-shadow-darkest;
      }
    }
    &[disabled] {
      + label {
        cursor: not-allowed;
        color: $font-color-light;
        text-decoration: line-through;
        &:hover {
          color: $font-color-light;
          background-color: unset;
          box-shadow: unset;
        }
      }
    }
  }
  label {
    color: inherit;
    font-size: 0.93em;
    line-height: 1;
    padding: 5px 8px;
    margin: 0px 5px;
    border-radius: 3px;
    &:hover {
      background-color: $theme-color;
      color: $white;
      box-shadow: $box-shadow-darker;
    }
  }

}

.card {
  color: inherit;
  box-shadow: $box-shadow-darker;
  transition: box-shadow 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  font-size: 17px;
  line-height: 1.48;
  @include user-select(none);
  .card-image {
    overflow: hidden;
    max-height: 240px;
    img {
      transition: transform 0.2s ease-in;
    }
  }
  .price-highlight {
    font-weight: 300;
    color: $highlight;
  }
}
a.card:hover {
  color: inherit;
  box-shadow: $box-shadow-lighter;
  background-color: $light-gray;
  img {
    transform: scale(1.1);
  }
}
a.card:active {
  color: $theme-color;
}
a.card:focus {
  outline: none;
}

.available-dates {
  margin-bottom: 80px;
}

#trip-details {
  >img {
    padding: 40px;
  }

  .trip-day {
    .trip-content-container {
      padding: 0 15px;
    }
    .thumbnails {
      overflow: auto;
      white-space: nowrap;
      img {
        width: auto;
        height: 80px;
        margin: 10px 30px 0 0;
      }
    }

    .trip-day-title, .trip-day-discription, .trip-day-photos, .trip-day-hotel {
      padding: 20px;
      display: flex;
    }

    .trip-day-hotel {
      align-items: center;
    }

    .trip-day-title {
      display: flex;
      align-items: baseline;

      .date-title-icon {
        width: 50px;
        height: 50px;
        background-color: $theme-color;
        color: $white;
        border-radius: 25px;
        margin-right: 15px;
        font-size: 24px;
      }
    }

    .other-icon {
      width: 30px;
      height: 30px;
      padding: 5px;
      background-color: $font-color;
      color: $white;
      border-radius: 20px;
      margin-right: 20px;

      &.material-icons {
        font-size: 20px;
      }
    }
  }
}

.site-footer {
	width: 100%;
	padding-left: 80px;
  background: $font-color;
	color: $white;
	font-size: 16px;
}