/*** COLORS ***/
$black: #000000;
$white: #FFFFFF;
$white-shadow: #EBEBEB;
$light-gray: #F3F3F3;
$highlight: #FE692A;
$caution: #EEAA10;
$success: #22AA55;
$error: #f65327;

$font-color: #484848;
$font-color-light: #8b8b8b;
$theme-color: #B7322A;
$site-background-color: #eeeeee;

$table-border: 1px solid #b1b1b1;
$separator-border: 1px solid #EBEBEB;

$box-shadow-lighter: 0px 2px 4px rgba(0, 0, 0, 0.0980392);
$box-shadow-darker: 0px 2px 4px 0px rgba(0, 0, 0, 0.0980392), 0px 4px 12px 0px rgba(26, 26, 29, 0.0784314);
$box-shadow-darkest: 0 2px 5px 0 rgba(0, 0, 0, 0.5);

/*** MIXINS ***/
@mixin user-select($param) {
  -webkit-user-select: $param;
  -moz-user-select: $param;
  -ms-user-select: $param;
  -o-user-select: $param;
  user-select: $param;
}

/*** STYLING ***/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto','Microsoft YaHei UI Light', 'Hiragino Sans GB', 'Hei Ti', sans-serif; 
}

body {
  font-family: 'Roboto', 'Microsoft YaHei UI Light', 'Hiragino Sans GB', 'Hei Ti', sans-serif;
  font-size: 18px;
  background-color: $site-background-color;
  color: $font-color;
  letter-spacing: 1px;
  word-spacing: 1px;

  a:active,
  a.active {
    color: $theme-color;
  }

  i {
    user-select: none;
  }

  .separator {
    border-bottom: $separator-border;

    &.thick {
      margin: 80px 0;
    }

    &.thin {
      margin: 40px 0;
    }
  }

  .site-content {
    margin-top: 24px;
    margin-bottom: 80px;

    .trip-day {
      position: relative;
      padding: 0 24px;
    }
  }

  header {
    box-shadow: 0 1px 0 0 $white-shadow;
  }

  table {
    tbody {
      border: $table-border;
    }

    tr+tr {
      border-top: $table-border;
    }

    td+td {
      border-left: $table-border;
    }
  }
}

// .grid-container {
//   max-width: 1360px;
// }

nav *{
  z-index: 100;
}

.site-header {
  margin: auto;
  padding: 0;
  background-color: $white;
}

.top-bar {
  width: 100%;
  padding: 10px 20px;
  background-color: $white;
  font-size: 16px;
  font-weight: 600;
  
  .logo span {
    font-weight: 300;
    letter-spacing: 0;
  }

  &.title-menu {
    width: 1200px;
    margin: 0 auto;

    ul.menu {
      align-self: flex-start;
      li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
  
      li:hover:after, li.hovered:after {
        width: unquote("calc(100% - 2rem)");
        background: $theme-color;
      }
      
      a.is-active {
        color: $theme-color;
      }
    }

    a {
      display: flex;
      align-items: center;
      color: inherit;

      img {
        width: 100px;
      }

      span {
        font-size: 36px;
      }
    }
  }

  &.tour-menu {
    background-color: $theme-color;
    color: $white;
    height: 40px;
    padding-top: 14px;

    >.menu {
      margin: 0 auto;
      background-color: transparent;
      color: inherit;

      > li > a {
        color: $white;
      }
      > li > a:after {
        border-color: $white transparent transparent;
      }
    }
    
    .sub-menu-container {
      background-color: white;
      color: #484848;
      padding: 1rem;
      font-weight: 400;

      >li {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding-top: 5px;
        padding-bottom: 5px;
        
        a {
          font-size: 0.93em;
          line-height: 1;
          padding: 5px 8px;
          margin: 0px 5px;
          border-radius: 3px;
          
          &[disabled] {
            cursor: not-allowed;
            color: $font-color-light;
            text-decoration: line-through;
            // TODO: note this creates a conflict with cursor: not-allowed, the easier solution is to put a wrapper around the element and apply cursor style on it
            pointer-events: none;
    
            &:hover {
              color: $font-color-light;
              background-color: transparent;
              box-shadow: none;
            }
          }

          &:hover{
            background-color: $theme-color;
            color: $white;
            box-shadow: $box-shadow-darker;
          }
        }
      }
    }
  }

  &.detail-menu {
    height: 60px;
    box-shadow: $box-shadow-darkest;
    border-radius: 3px;
    top: 10px;
    z-index: 10;
    position: sticky;
    position: -webkit-sticky;

    .menu {
      background-color: transparent;
      color: inherit;
  
      li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
  
      li:hover:after, li.hovered:after {
        width: unquote("calc(100% - 2rem)");
        background: $theme-color;
      }
      
      a {
        color: $font-color;
      }

      a.is-active {
        color: $theme-color;
      }
    }
  }

  .menu {
    background-color: transparent;
    color: inherit;

    a {
      color: $font-color;
    }

    a.is-active {
      color: $theme-color;
    }

    &.search-bar {
      display: flex;
      width: 460px;
      height: 48px;
      align-items: center;
      border: 1px solid $white-shadow;
      border-radius: 4px;
      box-shadow: $box-shadow-lighter;
      transition: box-shadow 0.2s ease;

      input {
        flex: 1;
        max-width: unset; // will not work in IE
        border: none;
        box-shadow: none;
        transition: none;
        font-size: 17px;
        font-weight: 800;
        line-height: 1.48;
        color: inherit;
      }

      input:focus {
        box-shadow: none;
      }

      i {
        font-weight: 600;
        padding: 0 4px 0 12px;
      }
    }

    &.search-bar:hover {
      box-shadow: $box-shadow-darker;
    }
  }
}

.swiper-container {
  max-width: 1080px;
  margin-bottom: 45px;
}

.swiper-slide {
  img {
    width: 100%;
  }
}

.card.list-filter {
  font-size: 0.9em;
}

.filter {
  &-section {
    padding: 2px 5px;
    margin: 3px 5px;
  }

  input {
    display: none;

    &:checked {
      +label {
        background-color: $theme-color;
        color: $white;
        box-shadow: $box-shadow-darkest;
      }
    }

    &[disabled] {
      +label {
        cursor: not-allowed;
        color: $font-color-light;
        text-decoration: line-through;

        &:hover {
          color: $font-color-light;
          background-color: transparent;
          box-shadow: none;
        }
      }
    }
  }

  label {
    color: inherit;
    font-size: 0.93em;
    line-height: 1;
    padding: 5px 8px;
    margin: 0px 5px;
    border-radius: 3px;

    &:hover {
      background-color: $theme-color;
      color: $white;
      box-shadow: $box-shadow-darker;
    }
  }
}

.card {
  color: inherit;
  box-shadow: $box-shadow-darker;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  font-size: 17px;
  line-height: 1.48;
  border-radius: 3px;
  @include user-select(none);

  .card-image {
    overflow: hidden;
    height: 164px;

    img {
      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
      transition: transform 0.2s ease;
    }
  }

  .card-section p {
    @include user-select(none);
    height: 81px;
    overflow: hidden;
  }

  .price-highlight {
    font-weight: 300;
    color: $highlight;
  }
}

a.card:hover {
  color: inherit;
  box-shadow: $box-shadow-lighter;
  background-color: $light-gray;

  img {
    transform: perspective(1px) translateY(-50%) scale(1.1);
  }
}

a.card:active {
  color: $theme-color;
}

a.card:focus {
  outline: none;
}

.available-dates {
  width: 100%
  // margin-bottom: 40px;
}

#trip-details {
  margin-top: 25px;

  // TODO: will eventually replace this with a real module
  >img {
    padding: 40px;
  }

  .trip-day {
    .trip-content-container {
      padding: 0 15px;
    }

    .thumbnails {
      overflow: auto;
      white-space: nowrap;

      img {
        width: auto;
        height: 80px;
        margin: 15px 25px 15px 0;
      }
    }

    .trip-day-title,
    .trip-day-description,
    .trip-day-photos,
    .trip-day-hotel {
      padding: 20px;
      display: flex;
    }

    .trip-day-title {
      display: flex;
      align-items: baseline;

      .date-title-icon {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        padding-top: 8px;
        background-color: $theme-color;
        color: $white;
        border-radius: 25px;
        margin-right: 15px;
        font-size: 24px;
        text-align: center;
      }
    }

    .other-icon {
      width: auto;
      height: 30px;
      padding: 5px;
      background-color: $font-color;
      color: $white;
      border-radius: 20px;
      margin-right: 20px;

      &.material-icons {
        font-size: 20px;
      }
    }
  }
}

#modal {
  display: none;
  max-width: 1200px;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  .content-header {
    margin-bottom: 3rem;
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    img {
      margin: 15px;
      height: 200px;
      width: auto;
    }
  }
}

.fancybox-container.fancybox-is-open {
  z-index: 1000;

}

.tox.tox-tinymce.tox-tinymce-inline {
  z-index:1001;
} 

section {
  .section-title {
    width: 195px;
    height: 50px;
    border: 2px solid $theme-color;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 36px;

    i {
      width: 50px;
      height: 50px;
      padding: 13px;
      background-color: $theme-color;
      color: $white;
      border-radius: 25px;
      margin-right: 15px;
    }

    span {
      font-size: 26px;
    }
  }
}

.editable-header,
.editable-block,
.editable-thumbnails {
  .mce-resizehandle {
    z-index: 1000 !important;
  }

  min-width: 50px;
  // border: 0.5px dashed $font-color;
  outline: 1px dashed $font-color;
  outline-offset: 5px;
  transition-property: padding, box-shadow, outline;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  // transition-delay: 0.15s;

  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow-darkest;
    border-radius: 3px;
    // padding: 10px 20px;
  }

  &:focus {
    outline: none;
    cursor: auto;
    box-shadow: $box-shadow-darkest;
    border-radius: 3px;
    // padding: 10px 20px;

  }
}


.swiper-overlay {
  position: relative;
  left: 0;
  width: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 3;
  transition: background-color 0.2s ease-out;

  .swiper-container {
    transition: opacity 0.2s ease-out;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      font-weight: 300;
      text-shadow: 0px 0px 30px rgba(0,0,0,0.40), 2px 2px 6px rgba(0,0,0,0.3);
      content: "Edit pictures";
      z-index: 5;
    }

    .swiper-container {
      opacity: 0.6;
    }
  }
}

.site-footer {
  width: 100%;
  padding-left: 80px;
  background: $font-color;
  color: $white;
  font-size: 16px;
}

footer.admin-edit {
  width: 100%;
  padding-right: 30px;
  position: fixed;
  bottom: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 50;

  .button {
    margin-bottom: 0;
  }
}