doctype html
html(lang="zh-Hant" data-page=page_type)

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800")
    link(rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/bs4/dt-1.10.18/rr-1.2.4/datatables.min.css')
    link(rel='stylesheet' type='text/css' href='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css')
    script(type='text/javascript' src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js')
    link(rel="stylesheet" type='text/css' href="/styles/admin-style.css")
    
  body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.sticky-top
      a.navbar-brand(href="/admin") Admin
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#adminNav")
        span.navbar-toggler-icon
      #adminNav.collapse.navbar-collapse
        ul.navbar-nav.d-flex
          li.nav-item(class=(page_type === 'front-page' ? "active" : ""))
            a.nav-link(href="/admin") 首頁列表
          li.nav-item(class=(page_type === 'tours' ? "active" : ""))
            a.nav-link(href="/admin/tours") 線路列表
          li.nav-item(class=(page_type === 'static-pages' ? "active" : ""))
            a.nav-link(href="/admin/static-pages") 靜態頁面列表
          li.nav-item(class=(page_type === 'main-menus' ? "active" : ""))
            a.nav-link(href="/admin/main-menus") 主選單列表
          li.nav-item
            a.nav-link(href="/") 回到主頁
        ul.navbar-nav.ml-sm-auto.d-flex
          li.nav-item
            a.nav-link(href="/admin-logout") 登出
    
    if flash.error
      .alert.alert-danger.alert-dismissible.fade.show(role="alert")
        .alert-message !{flash.error}
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden='true') &times;
    if flash.success
      .alert.alert-success.alert-dismissible.fade.show(role="alert")
        .alert-message !{flash.success}
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden='true') &times;

    block content
    
    script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(type='text/javascript' src='https://cdn.datatables.net/v/bs4/dt-1.10.18/rr-1.2.4/datatables.min.js')
    script(type='text/javascript' src="/scripts/admin-list-bundle.js")