doctype html
html(lang="zh-Hant" data-tour-list=tour_list ? tour_list : null)

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='google-site-verification', content='n08k63fct_kspHpcWtK28Y1djfY2R84Bm8mXZOzJsvA')
    title= title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
    link(rel="stylesheet" href="/styles/style.css")
    
  body

    block content
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/foundation.min.js")
    script(type="text/javascript") $(document).foundation();
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js")
    script(src="/scripts/easing.min.js")
    script(src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey='+tiny_api)
    script(src="/scripts/admin-main.js")