header
  .site-header.grid-container.grid-y
    nav.top-bar.scrollhide-nav.cell
      .top-bar-left.menu
        a.logo(href="/")
          img(src="/images/CtourusLogo.png", alt="Ctourus Logo")
          span 盛世假期
        
      ul.top-bar-right.menu
        each static in static_pages
          li
            a(href=`/static-pages/${static.permalink}`)= static.name
    nav.top-bar.tour-menu.cell
      ul.menu
        each tour in tour_menu
          li
            a(href=`/tours/${tour.permalink}` class={'is-active': tour_list && tour_list == tour.permalink})= tour.name