header
  .site-header.grid-container.grid-y
    nav.top-bar.scrollhide-nav.cell
      .top-bar-left.menu
        a.logo(href="/")
          img(src="/images/CtourusLogo.png", alt="Ctourus Logo")
          span 盛世假期
        
      ul.top-bar-right.menu
        li
          a(href="/about") 關於我們
        li
          a(href="/tour-terms") 旅遊條款
        li
          a(href="/faq") 常見問題
        li
          a(href="/contact") 顧客留言
    nav.top-bar.tour-menu.cell
      ul.menu
        each tour in tour_menu
          li
            a(href=`/tours/${tour.permalink}` class={'is-active': tour_list && tour_list == tour.permalink})= tour.name