header
  nav.scrollhide-nav.top-bar.site-header
    ul.top-bar-left.menu
      li
        a(href="/" class="logo") Logo
      li
        a(href="/about") About
      li
        a(href="/contact") Contact
    .top-bar-right
      label.menu.search-bar
        i.material-icons search
        input(type="search" placeholder="Search")