doctype html
html(lang="en")

head
  meta(charset="utf-8")
  title Pug Site
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" href="styles/style.css")
  
body

  include _header.pug

  block content

  include _footer.pug
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js")