extends _layout.pug

block content
  main.grid-container.site-content
    .swiper-container
        .swiper-wrapper
          each slide, i in tour_slides
            .swiper-slide
              a(href="#")
                img(src=`/images/${slide.image}`, alt="photos")