extends _layout.pug

block content
  main.grid-container.site-content
    .swiper-container
        .swiper-wrapper
          each large, i in data.large
            .swiper-slide
              a(href="#")
                img(src=`/images/${large.large_image}`, alt="photos")